.App {
  text-align: center;
  display: flex;
}
.buttons {
  border: none;
  color: #0f1419;
  margin: 3px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
}
button:hover {
  border: 1px solid black;
}
.buttonClass {
  /* border: 1px solid red; */
  /* // margin-right: 30px; */
  /* padding-top: 30px;
  padding-left: 40px; */
}
.imageClass {
  margin: 90px 80px 50px 30px;
  /* border: 1px solid blue; */
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 20px;
  row-gap: 50px;
}
.container {
  border: 1px solid black;
  position: relative;
}
.img {
  top: 0;
  left: 0;
  max-width: 450px;
  max-height: 300px;
}
/* .banner {
  position: relative;
} */
.ship {
  background-color: #0f1419;
  color: white;
  padding: 3px;
  width: auto;
  font-size: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.add {
  height: 50px;
  width: 250px;
  font-size: 16px;
  background-color: #0f1419;
  color: white;
}
.add:hover {
  background-color: rgb(234, 191, 0);
  border: none;
}
