.App {
  /* text-align: center; */
  display: flex;
}
.buttons {
  border: none;
  color: #0f1419;
  width: 35px;
  height: 35px;
  font-size: 0.8em;
  margin-bottom: 8px;
  border-radius: 50%;
}
.toggle-color {
  background-color: #0f1419;
  color: white;
}
button:hover {
  cursor: pointer;
  border: 1px solid black;
}
.buttonClass {
  height: fit-content;
  margin-top: 0px;
  margin-left: 30px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 8px;
  row-gap: 8px;
}
h4 {
  width: fit-content;
  margin-left: 30px;
  margin-top: 60px;
}
.imageClass {
  margin: 0px 50px 50px 15px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 20px;
  row-gap: 50px;
}
.counter {
  width: fit-content;
  margin-left: 30px;
  margin-top: 60px;
}
.container {
  /* padding: 10px; */
  /* border: 1px solid black; */
  border: 1px solid whitesmoke;
  box-shadow: 0px 0px 3px black;
  width: 240px;
  text-align: center;
  position: relative;
  display: grid;
}
.button-parent {
  margin-left: 10px;
  margin-right: 20px;
}
.img {
  top: 0;
  left: 0;
  max-width: 450px;
  max-height: 300px;
}
.img-2 {
  /* top: 0;
  left: 0; */
  max-width: 70px;
  max-height: 90px;
}
/* .banner {
  position: relative;
} */
.ship {
  background-color: #0f1419;
  color: white;
  padding: 3px;
  width: auto;
  font-size: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.add {
  cursor: pointer;
  height: 50px;
  width: 100%;
  font-size: 16px;
  border: none;
  background-color: #0f1419;
  color: white;
  place-self: end;
  transition: background-color 0.2s ease 0s;
}

.submit {
  height: 50px;
  width: 100%;
  font-size: 16px;
  border: none;
  background-color: rgb(12, 11, 16);
  color: white;
  cursor: pointer;
  /* position: absolute;
  bottom: 0; */
  /* margin-top: 50px;
  margin-bottom: 20px; */
  /* margin-right: 10px; */
  /* place-self: end; */
}
.submit:hover {
  background-color: rgb(0, 0, 0);
}
.price {
  display: flex;
  justify-content: space-between;
}
.cart {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  position: relative;
  /* display: inline-block; */
  background-image: url("/public/images/cart.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
}
.shoppingCart {
  height: 100%;
  /* width: 100px; */
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  /* border: 1px solid red;
  transition: width 2s; */
}
.cartButton {
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: rgb(27, 26, 32);
}
.checkout {
  /* height: 100px; */
  margin: 20px;
  height: 70%;
  /* margin-left: 10px;
  margin-right: 10px; */
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 100%; */
  /* border: 3px solid blue; */
}
.checkout-parent {
  /* height: 10%; */
  /* height: fit-content; */
  flex: 1;
  width: 100%;
  /* height: 30%; */
  /* position: fixed; */
  /* width: 100%;
  height: 20%; */
  /* background-color: aliceblue; */
  border: 5px solid rgb(27, 26, 32);
  box-shadow: 0px -8px 20px #0f1419;
}
.todo {
  /* border: 3px solid red; */
  overflow: scroll;
  min-height: 41%;
  text-align: center;
}
.cartContainer {
  height: 100%;
  width: 450px;
  display: flex;
  flex-direction: column;
  color: white;
  /* transition: right 0.2s ease 0s; */
  background-color: rgb(27, 26, 32);
}
.cartContainer > * {
  /* border: 1px solid red; */
  /* height: 50%;
  width: 100%; */
  /* text-align: center; */
}
.cart-parent {
  /* border: 1px solid blue; */
  /* width: 100%; */
  height: 25%;
  text-align: center;
}
.cart-btn {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  /* border: 2px solid yellow; */
}
.cart-btn > * {
  /* border: 3px solid green; */
  font-size: 18px;
  width: 60px;
  height: 60px;
}
.cartButton:hover {
  border: none;
  cursor: pointer;
  background-color: #0f1419;
}
.cartClose {
  color: white;
  width: 50px;
  height: 50px;
  display: inline-block;
  background-image: url("/public/images/closeButton.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
}
/* .add:hover {
  background-color: rgb(234, 191, 0);
  border: none;
} */
#installments {
  color: rgb(156, 155, 155);
}
.list {
  display: flex;
  text-align: center;
  list-style-type: none;
  margin-bottom: 5px;
  border-top: 1px solid #0f1419;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.text-color {
  /* padding: 5px; */
  color: rgb(234, 191, 0);
}
.un-list {
  /* border: 2px solid red; */
}
.details {
}
.delete {
  border: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(27, 26, 32);
}
.delete:hover {
  border: none;
  color: white;
  /* background-color: #0f1419; */
}
.total {
  /* text-align: center;
  border-radius: 50%;
  border: none;
  color: #0f1419;
  width: 35px;
  height: 35px;
  font-size: 0.8em; */

  display: inline-block;
  width: 18px;
  height: 18px;
  color: rgb(12, 11, 16);
  font-weight: bold;
  font-size: 0.7em;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
  background-color: rgb(234, 191, 0);
  position: absolute;
  bottom: 0px;
  right: 5px;
}
.decre {
  border: none;
  color: white;
  background-color: black;
  width: 25px;
  height: 25px;
  cursor: pointer;
  /* width: 10px; */
  /* height: 10px; */
}
.incre {
  border: none;
  color: white;
  background-color: black;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.total-price {
  color: rgb(234, 191, 0);
  font-size: 22px;
}
.container:hover .add {
  /* border: 10px solid red; */
  background-color: rgb(234, 191, 0);
  border: none;
}
