.App {
  /* text-align: center; */
  display: flex;
}
.buttons {
  border: none;
  color: #0f1419;
  width: 35px;
  height: 35px;
  font-size: 0.8em;
  margin-bottom: 8px;
  border-radius: 50%;
}
button:hover {
  border: 1px solid black;
}
.buttonClass {
  height: fit-content;
  margin-top: 0px;
  margin-left: 30px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 8px;
  row-gap: 8px;
}
h4 {
  width: fit-content;
  margin-left: 30px;
  margin-top: 60px;
}
.imageClass {
  margin: 0px 50px 50px 15px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 20px;
  row-gap: 50px;
}
.counter {
  width: fit-content;
  margin-left: 30px;
  margin-top: 60px;
}
.container {
  border: 1px solid black;
  text-align: center;
  position: relative;
  display: grid;
}
.img {
  top: 0;
  left: 0;
  max-width: 450px;
  max-height: 300px;
}
/* .banner {
  position: relative;
} */
.ship {
  background-color: #0f1419;
  color: white;
  padding: 3px;
  width: auto;
  font-size: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.add {
  height: 50px;
  width: 250px;
  font-size: 16px;
  border: none;
  background-color: rgb(27, 26, 32);
  color: white;
  place-self: end;
}
.cart {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-image: url("/public/images/cart.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
}
.shoppingCart {
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
}
/* .parentCart {
  width: 500px;
  height: 200px;
  border: 1px solid green;
} */
.cartButton {
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: rgb(27, 26, 32);
}
.cartContainer {
  height: 100%;
  width: 400px;
  /* transition: right 0.2s ease 0s; */
  background-color: rgb(27, 26, 32);
}
.cartButton:hover {
  border: none;
  background-color: #0f1419;
}
.add:hover {
  background-color: rgb(234, 191, 0);
  border: none;
}
#installments {
  color: rgb(156, 155, 155);
}
